@model IEnumerable<Test20250326.AppWebMVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Buscar productos</h1>
<form asp-action="Index">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input type="text" name="nombre" class="form-control" />
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label class="control-label">Descripcion</label>
                <textarea name="descripcion" class="form-control"></textarea>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Marcas</label>
                <select name="marcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Categorias</label>
                <select name="categoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Cant. Registros</label>
                <select name="topRegistro" class="form-control">
                    <option selected value="10">10</option>
                    <option value="20">20</option>
                    <option value="60">60</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="0">Todos</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a class="btn btn-info" asp-action="Create">Ir a crear</a>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Id)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
@section Scripts {
     <script>
         $(document).ready(function() {
                // $('#myTable').DataTable();

            // $('#myTable').DataTable({
            //      "language": {
            //     "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            //     }
            // });

             $('#myTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
             });
        });
    </script>
                    }
